
body {
  background-color: black;
  color: white;
  font-family: Trebuchet MS;
  
  padding: .5em;
  background-color: black;
  border: 5px solid midnightblue;
  margin-bottom: 1em;
  margin: 1 1em 1em 1em;
}